.zhu{
	width: 700px;
	height: 580px;
	margin: 30px auto;
	background-color:#F0F8FF;
	box-shadow: 2px 2px 1px 3px  #C0C0C0;
	font-family: "宋体";
	position: relative;
}
.zhu .zhucediv1{
	 width: 400px;
	 height: 50px;
	 margin-top: 10px;
	 text-align: center;
	 font-size: 26px;
	 color: #000000;
	 line-height: 50px;
	 display: inline-block;
}
.zhu .zhucediv2{
	 width: 400px;
	 height: 50px;
	 border: 1px solid #000000;
	 margin-top: 15px;
	 line-height: 50px;
	 padding-left: 10px;
}
.zhu .zhucediv2:hover{
	 border: 1px solid darkseagreen;
}
.zhu .zhucediv2 input{
	 width: 300px;
	 height: 40px;
	 margin-left: 30px;
	 border: none;
	 background-color:#F0F8FF;
}
.zhu .zhucediv3{
	 width: 400px;
	 height: 50px;
	 border: 1px solid #000000;
	 margin-top: 15px;	
	 line-height: 50px;
	 padding-left: 10px;
	 
}
.zhu .zhucediv3:hover{
	 border: 1px solid  darkseagreen;
}
.zhu .zhucediv3 input{
	 width: 300px;
	 height: 40px;
	 margin-left: 30px;
	 border: none;
	 background-color:#F0F8FF;
}
.zhu .zhucediv4{
	 width: 400px;
	 height: 50px;
	 border: 1px solid #000000;
	 margin-top: 15px;	
	 line-height: 50px;
	 padding-left: 10px;
}
.zhu .zhucediv4:hover{
	 border: 1px solid  darkseagreen;
}
.zhu .zhucediv4 input{
	 width: 300px;
	 height: 40px;
	 border: none;
	 background-color:#F0F8FF;
}
.zhu .zhucediv5{
	 width: 410px;
	 height: 50px;
	 border: 1px solid #000000;
	 margin-top: 15px;
	 line-height: 50px;	
}

.zhu .zhucediv5 input{
	 width: 410px;
	 height: 48px;
	 border: none;
	 background-color:#F0F8FF;
}
.zhu .zhucediv5 input:hover{
	 border: 1px solid  #000000;
	 background-color:#000000;
	 color: #F0F8FF;
}
.zhu .zhucediv6{
	 width: 410px;
	 height: 50px;
	 border: 1px solid #000000;
	 margin-top: 15px;
	 line-height: 50px;
	 text-align: center;
}
.zhu .zhucediv6:hover{
	 border: 1px solid  #000000;
	 background-color: #000000;
	 color: #F0F8FF;
}
.sd{
	width: 270px;
	height: 330px;
	position: absolute;
    right: 0px;
    top: 60px;
}
.sd-1,.sd-2,.sd-3{
	 width: 270px;
	 height: 50px;
}
.sd-1{
	margin-top: 16px;
	 
}
.sd-2{
	margin-top: 18px;
}
.sd-3{
	margin-top: 17px;
}

